# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/

# Docker
*.log
docker-compose.override.yml

# FastAPI specific
*.db

# IDE specific
.vscode/
.idea/
